.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(29, 29, 31);
    border-radius: 15px;
    min-height:100%;
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 29, 31); 
    padding: 40px;
    height: 551px;
}

.form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.form__header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 23px;
}

.form__header p {
    font-size: 22px;
}

.form__body {
    width: 100%;
}

.auth .form-group {
    position: relative;
    border: 2px solid rgba(255, 255, 255, .1);
    height: 51px;
    border-radius: 7px;
    margin: 23px 0px;
    width: 100%;
}

.auth .form-group label {
    position: absolute;
    top: -16px;
    left: 15px;
    color: #dfdbdb;
    font-size: 12px;
    background-color: rgb(29, 29, 31);
    padding: 6px 5px;
}

.auth input {
    height: 100%;
    background-color: rgb(29, 29, 31);
    border-radius: 7px;
    border: none;
    outline: none;
    color: #dfdbdb;
    padding-left: 10px;
    width: 100%;
}

.form__footer {
    width: 100%;
}

.form__footer button {
    width: 100%;
}

.form__footer p {
    margin-top: 25px;
    text-align: center;
}

form .bold {
    cursor: pointer;
}

.form__footer__answer {
    margin: 17px 0px;
    display: flex;
    align-items: center;
    padding: 15px;

    border-radius: 3px;
}

.form__footer__answer i {
    margin-right: 10px;
    font-size: 17px;
}

body .form__footer__answer p {
    margin: 0px;
}

.success {
    background-color: rgb(221, 244, 214);
    color: rgb(80, 100, 71);
    animation-name: rtl;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.error {
    background-color: rgb(239, 200, 202);
    color: rgb(153, 50, 65);
    animation-name: rtl;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

