@keyframes rtl {
    0% {
        opacity: 0;
        transform: translateX(10%) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}

@keyframes btt {
    0% {
        opacity: 0;
        transform: translateY(10%) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0%) scale(1);
    }
}

.fade-in {
    animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes growUp {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes menuDeroulant {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}