body .hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px) brightness(.7);
}

.modalContent {
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(41, 44, 49);
    color: white;
    width: 400px;
    animation-name: afr;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.modalContent form>div {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 100%;
}

.modalContent form>div>label {
    margin: 5px 0px;
}

.modalContent form input {
    background-color: rgb(30, 33, 36);
    border: 1px solid rgb(46, 49, 54);
    height: 40px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

.modalContent form textarea {
    background-color: rgb(30, 33, 36);
    border: 1px solid rgb(46, 49, 54);
    height: 100px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    resize: none;
}

.modalContent form select {
    background-color: rgb(30, 33, 36);
    border: 1px solid rgb(46, 49, 54);
    height: 40px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

.modalContent form button {}

.modal__content__header {
    display: flex;
    justify-content: space-between;
}

.leaveModal {
    font-size: 25px;
    cursor: pointer;
}

.leaveModal:hover {
    color: rgb(242, 176, 176);
}