.btn {
    padding: 15px;
    border: none;
    background-color: rgb(0, 95, 242);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.box {
    background-color: rgb(29, 29, 31);
    color: white;
    padding: 24px;
    border-radius: 15px;
    margin: 20px 15px;
}

.paraGrey {
    color: #bfbfbf;
}

/* spans  */
.blue {
    color: blue;
}

.bold {
    font-weight: 600;
}